        <div class="docs-sidenav" id="docs-sidenav">

          <div class="wiki-nav-container">
            <dl class="tabs pill">
              <dd class="active"><a href="#user">User</a></dd>
              <dd><a href="#developer">Developer</a></dd>
              <dd><a href="#contributor">Contributor</a></dd>
            </dl>
          </div>
          <div class="wiki-toc-container">
            <ul class="tabs-content">
              <li id="userTab" class="wiki-tab-pane active">
                <ul class="wiki-toc">
                  <li><a href="{{site.userurl}}phpr_overview.html">PHPR Overview</a></li>
                  <li><a href="{{site.userurl}}table_of_contents.html">Table of Contents</a></li>
                  <li><a href="{{site.userurl}}server_requirements.html">Server Requirements</a></li>
                  <li><a href="{{site.userurl}}installation.html">Installation</a>
                    <ul class="wiki-toc">
                      <li><a href="{{site.userurl}}downloading_phpr.html">Downloading PHPR</a></li>
                      <li><a href="{{site.userurl}}install_instructions.html">Install Instructions</a></li>
                      <li><a href="{{site.userurl}}troubleshoot_install.html">Troubleshoot Install</a></li>
                      <li><a href="{{site.userurl}}automation_set_up.html">Automation set up</a></li>
                    </ul>
                  </li>
                  <li><a href="{{site.userurl}}basic_configuration.html">Basic Configuration</a>
                    <ul class="wiki-toc">
                      <li><a href="{{site.userurl}}common_settings.html">Global settings</a></li>
                      <li><a href="{{site.userurl}}website_settings.html">Website settings</a></li>
                    </ul>
                  </li>
                  <li><a href="{{site.userurl}}content_management.html">Content Management</a>
                    <ul class="wiki-toc">
                      <li><a href="{{site.userurl}}managing_themes.html">Managing Themes</a></li>
                    </ul>
                  </li>
                  <li><a href="{{site.userurl}}maintenance.html">Maintenance</a>
                    <ul class="wiki-toc">
                      <li><a href="{{site.userurl}}performing_a_software_update.html">Performing a Software Update</a></li>
                    </ul>
                  </li>
                </ul>
              </li><!--Ending User tab-->
              <li id="developerTab" class="wiki-tab-pane">
                <ul class="wiki-toc"></ul>
              </li><!--Ending Developer tab-->
              <li id="contributorTab" class="wiki-tab-pane">
                <ul class="wiki-toc">
                  <li><a href="{{site.conurl}}code.html">Code</a></li>
                  <li><a href="{{site.conurl}}docs.html">Docs</a></li>
                  <li><a href="{{site.conurl}}evangelism.html">Evangelize</a></li>
                </ul>
              </li><!--Ending Contributor tab-->
            </ul><!--Ending tab content-->
          </div>
        </div>

