<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% if page.title %} {{ page.title }} | {% endif %} PHPR Community Docs</title>

    <link rel="stylesheet" type="text/css" href="{{site.url}}assets/style/phproad.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{site.url}}stylesheets/pygment_trac.css" media="screen" />

  </head>

  <body>

    <header>
      <div class="container">
        <h1>PHPR Community Docs</h1>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
      {{ content }}
      </section>
    </div>


  </body>
</html>
